// app/src/layouts/BaseLayout.module.scss
@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.base-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-app-bg);
  color: var(--color-text-primary);
  transition: color var(--transition-normal) ease,
  background-color var(--transition-normal) ease;
}