@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

.ds-label {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--ui-color-text-primary);
  margin-bottom: var(--ui-spacing-2);

  &-required {
    &-indicator {
      margin-left: var(--ui-spacing-1);
      color: var(--ui-color-error);
    }
  }

  &-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}